button {
  height: 30px;
  width: 200px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
}

.success {
  color: #3aa573;
}

.error {
  color: #f13a2c;
}

.form-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  margin-bottom: 24px;
}

.form-input-container div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
}

.data-field {
  display: flex;
  justify-content: space-between;
  width: 230px;
}

.input {
  text-align: right;
  width: 100px;
}

.slider-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 12px;
}

.link-container {
  width: 110px;
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
  justify-content: space-around;
}

.small-label {
  margin-bottom: 12px;
}

.label-small {
  width: 40%;
}

.value-small {
  width: 60%;
  text-align: right;
}

.label-large {
  width: 20%;
}

.value-large {
  width: 80%;
  text-align: left;
}

.mid-label {
  margin-bottom: 12px;
}

.large-label {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: bold;
}

.hidden {
  display: none;
}

.show {
  visibility: visible;
}

.action-row {
  font-size: 18px;
}

.big-finger {
  font-size: 18px;
}

.link-button {
  font-size: 18px;
  outline: none;
  margin: 0px;
  border: none;
  padding: 0px;
  background: none;
  color: blue;
  cursor: pointer;
  text-decoration: underline;

}
