body {
  font-size: 0.9rem;
  font-family: Helvetica;
  background-color: #ffffff;
  margin: auto;
  max-width: 1200px;
  min-width: 250px;
}

main {
  height: 80vh;
  overflow-y: scroll;
}

.card {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.profile-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.scheduled-emailer-element {
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 1rem;
  width: 80%;
  border-radius: 11px;
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

h1 {
  letter-spacing: -1.5px;
  font-size: 6rem;
  font-weight: light;
}

h2 {
  letter-spacing: -0.5px;
  font-size: 3.75rem;
}

h3 {
  font-size: 4.5rem;
}

h4 {
  letter-spacing: 0.25px;
  font-size: 2.125rem;
}

h5 {
  letter-spacing: 0px;
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

.header-image {
  height: 68px;
}

.header-title {
  font-size: 1.5rem;
}

.link-button {
  text-decoration: none;
}

.ostrich-container {
  border-radius: 13px;
  color: black;
}

button {
  outline: none;
  border: none;
  padding: 10px 30px 10px 30px;
  border-radius: 2px;
  font-size: 1rem;
  font-weight: bold;
}

.ostrich-button {
  background-color: #4d2ad4;
  color: white;
  border: 1px solid white;
}

.plain-button {
  color: #4d2ad4;
  background-color: white;
  border: 1px solid #4d2ad4;
}

.cash-on-cash {
  font-weight: bold;
  width: 50%;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.thin-container {
  max-width: 400px;
  padding-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: auto;
}

.success {
  color: #3aa573;
}

.error {
  color: #d73f23;
}

.label {
  width: 30%;
}

.break-to-full {
  margin: 0rem;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

.justify-end {
  justify-content: flex-end;
}

.centered {
  align-content: center;
}

.centered-items {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.fifth {
  width: 20%;
}

.fourth {
  width: 25%;
}

.third {
  width: 33%;
}

.two-fifths {
  width: 40%;
}

.fourty-five {
  width: 45%;
}

.half {
  width: 50%;
}

.two-thirds {
  width: 66%;
}

.three-fifths {
  width: 60%;
}

.three-fourths {
  width: 75%;
}

.ninety {
  width: 90%;
}

.full {
  width: 100%;
}

.padded {
  padding: 1rem;
}

.super-margin-top {
  margin-top: 80px;
}

.super-margin-bottom {
  margin-bottom: 100px;
}

.personal-margin-top {
  margin-top: 1rem;
}

.personal-margin-bottom {
  margin-bottom: 1rem;
}

.personal-margin-top-double {
  margin-top: 2rem;
}

.personal-space-top {
  margin-top: 1rem;
}

.personal-space-bottom {
  margin-bottom: 1rem;
}

.personal-space-left {
  margin-left: 1rem;
}

.personal-space-right {
  margin-right: 1rem;
}

.personal-space-small-bottom {
  margin-bottom: 8px;
}

.personal-space-small-top {
  margin-top: 8px;
}

@media screen and (max-width: 480px) {
  .break-to-full {
    width: 100%;
    margin: 1rem;
  }

  .thin-container {
    width: 95%;
    margin: 0px;
  }

  button {
    padding: 5px 20px 5px 20px;
    font-size: 12px;
    font-weight: normal;
  }

  .input {
    width: 64%;
  }

  .input-container {
    width: 114px;
  }

  .label {
    width: 35%;
  }

  .super-margin-top {
    margin-top: 0px;
  }
}
