body {
  font-size: 0.9rem;
  font-family: Helvetica;
  background-color: rgb(241, 245, 252);
  margin: auto;
  max-width: 850px;
}

.super-margin-top {
  margin-top: 100px;
  margin-bottom: 100px;
}

main {
  height: 90vh;
  overflow-y: scroll;
}

.buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.half {
  width: 50%;
}

.fifth {
  width: 20%;
}

.third {
  width: 33%;
}

.two-thirds {
  width: 66%;
}

.three-fifths {
  width: 60%;
}

.two-fifths {
  width: 40%;
}

.fourty-five {
  width: 45%;
}

.card {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.padded {
  padding: 1rem;
}

.profile-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.scheduled-emailer-element {
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 1rem;
  width: 80%;
  border-radius: 11px;
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

h1 {
  letter-spacing: -1.5px;
  font-size: 6rem;
  font-weight: light;
}

h2 {
  letter-spacing: -0.5px;
  font-size: 3.75rem;
}

h3 {
  font-size: 4.5rem;
}

h4 {
  letter-spacing: 0.25px;
  font-size: 2.125rem;
}

h5 {
  letter-spacing: 0px;
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 68px;
}

.logo-container span {
  font-size: 1.5rem;
  margin: auto;
  padding-left: 1rem;
}

.ostrich-container {
  background-color: rgb(53, 36, 154);
  border-radius: 13px;
  color: white;
}

.ostrich-button {
  padding: 10px 30px 10px 30px;
  background-image: linear-gradient(rgb(255, 87, 36), rgb(202, 21, 5));
  border-radius: 8px;
  color: white;
  margin-top: 8px;
  margin-bottom: 8px;
}

.personal-space-top {
  margin-top: 24px;
}

.plain-button {
  background-image: none;
  border: 1px solid white;
  margin-bottom: 24px;
}

.align-center {
  text-align: center;
}

#cash-on-cash {
  font-size: 1.7rem;
  width: 60%;
}

button {
  outline: none;
  border: none;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer {
  margin-top: 24px;
}

.nav-link-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.nav-link-button {
  margin-right: 1rem;
  text-decoration: none;
}

.nav-link-buttons a {
  text-decoration: none;
}

.success {
  color: #3aa573;
}

.error {
  color: rgb(215, 63, 35);
}

.form-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.form-input-container label {
  width: 100px;
}

.form-input-container div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 250px;
}

.input {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .break-to-full {
    width: 100%;
    margin: 1rem;
  }

  .thin-container {
    padding: 1rem;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 480px) {
  .break-to-full {
    margin: 0rem;
  }

  .thin-container {
    width: 50%;
    margin: auto;
    padding: 1rem;
    margin-bottom: 24px;
  }
}
